In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("mushrooms.csv")

In [3]:
data = data.sample(frac=1)

In [4]:
X = data.drop(["class"], axis =1)

y = data["class"]

In [5]:
for attr in X.columns:
    print("\n*", attr, "*")
    print(X[attr].value_counts())

* cap-shape *
x    3656
f    3152
k     828
b     452
s      32
c       4
Name: cap-shape, dtype: int64

* cap-surface *
y    3244
s    2556
f    2320
g       4
Name: cap-surface, dtype: int64

* cap-color *
n    2284
g    1840
e    1500
y    1072
w    1040
b     168
p     144
c      44
u      16
r      16
Name: cap-color, dtype: int64

* bruises *
f    4748
t    3376
Name: bruises, dtype: int64

* odor *
n    3528
f    2160
s     576
y     576
l     400
a     400
p     256
c     192
m      36
Name: odor, dtype: int64

* gill-attachment *
f    7914
a     210
Name: gill-attachment, dtype: int64

* gill-spacing *
c    6812
w    1312
Name: gill-spacing, dtype: int64

* gill-size *
b    5612
n    2512
Name: gill-size, dtype: int64

* gill-color *
b    1728
p    1492
w    1202
n    1048
g     752
h     732
u     492
k     408
e      96
y      86
o      64
r      24
Name: gill-color, dtype: int64

* stalk-shape *
t    4608
e    3516
Name: stalk-shape, dtype: int64

* stalk-root *
b    3776
?    2480
e    1120
c     556
r     192
Name: stalk-root, dtype: int64

* stalk-surface-above-ring *
s    5176
k    2372
f     552
y      24
Name: stalk-surface-above-ring, dtype: int64

* stalk-surface-below-ring *
s    4936
k    2304
f     600
y     284
Name: stalk-surface-below-ring, dtype: int64

* stalk-color-above-ring *
w    4464
p    1872
g     576
n     448
b     432
o     192
e      96
c      36
y       8
Name: stalk-color-above-ring, dtype: int64

* stalk-color-below-ring *
w    4384
p    1872
g     576
n     512
b     432
o     192
e      96
c      36
y      24
Name: stalk-color-below-ring, dtype: int64

* veil-type *
p    8124
Name: veil-type, dtype: int64

* veil-color *
w    7924
o      96
n      96
y       8
Name: veil-color, dtype: int64

* ring-number *
o    7488
t     600
n      36
Name: ring-number, dtype: int64

* ring-type *
p    3968
e    2776
l    1296
f      48
n      36
Name: ring-type, dtype: int64

* spore-print-color *
w    2388
n    1968
k    1872
h    1632
r      72
u      48
o      48
b      48
y      48
Name: spore-print-color, dtype: int64

* population *
v    4040
y    1712
s    1248
n     400
a     384
c     340
Name: population, dtype: int64

* habitat *
d    3148
g    2148
p    1144
l     832
u     368
m     292
w     192
Name: habitat, dtype: int64

In [6]:
X.drop(["veil-type"], axis=1, inplace = True)

In [7]:
for col in X.columns:
    if len(X[col].value_counts()) ==2:
        le = LabelEncoder()
        X[col] = le.fit_transform(X[col])

In [8]:
X.head()

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-above-ring,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-color,ring-number,ring-type,spore-print-color,population,habitat
3132,f,y,g,1,n,1,0,0,p,1,...,s,s,w,p,w,o,p,k,y,d
5001,x,y,n,0,n,1,0,1,w,0,...,k,y,w,n,w,o,e,w,v,d
2735,x,f,e,1,n,1,0,0,u,1,...,s,s,g,g,w,o,p,n,v,d
424,x,s,w,1,l,1,0,0,n,0,...,s,s,w,w,w,o,p,n,n,m
2078,x,s,g,0,n,1,1,0,n,1,...,f,f,w,w,w,o,e,n,s,g

In [9]:
X = X[["bruises", 'gill-attachment', 'gill-spacing', 'gill-size', 'stalk-shape']]
X.reset_index(inplace = True)
X

      index  bruises  gill-attachment  gill-spacing  gill-size  stalk-shape
0      3132        1                1             0          0            1
1      5001        0                1             0          1            0
2      2735        1                1             0          0            1
3       424        1                1             0          0            0
4      2078        0                1             1          0            1
...     ...      ...              ...           ...        ...          ...
8119   2716        1                1             0          0            1
8120    475        0                1             0          1            0
8121   7899        0                1             0          1            1
8122   7564        0                1             1          0            0
8123   3022        1                1             0          0            1

[8124 rows x 6 columns]

In [10]:
X.drop("index", axis = True, inplace= True)

In [11]:
#X = pd.get_dummies(X)

In [12]:
X.head(2)

   bruises  gill-attachment  gill-spacing  gill-size  stalk-shape
0        1                1             0          0            1
1        0                1             0          0            0

In [13]:
le = LabelEncoder()
y = le.fit_transform(y)
y

array([0, 1, 1, ..., 0, 0, 0])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =.2)

In [15]:
logreg = LogisticRegression()

In [16]:
logreg.fit(X_train, y_train)

LogisticRegression()

In [17]:
logreg_pred = logreg.predict(X_test)

In [18]:
logreg.score(X_test, y_test)

0.9181538461538462

In [19]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C = 1.0, penalty = "l2")
lr.fit(X_train,y_train)
print("Logistic Regression Max Score : ",lr.score(X_test,y_test))
lr_max = lr.score(X_test,y_test)

Logistic Regression Max Score :  0.9181538461538462

In [20]:
from joblib import dump, load

dump(logreg, filename="Capstone_mushroom.joblib")

['Capstone_mushroom.joblib']

In [21]:
print(logreg)

LogisticRegression()

In [25]:
#logreg.predict(np.array([1,1,0,0,0]))

In [32]:
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test)
clf.score(X_test, y_test)

0.9212307692307692

In [33]:
clf.predict([[1,1,1,1,0]])

array([1])

In [26]:
from joblib import dump, load

dump(clf, filename="CLF_Capstone_mushroom.joblib")

['CLF_Capstone_mushroom.joblib']

In [87]:
X.head(2)

   bruises  gill-attachment  gill-spacing  gill-size  stalk-shape
0        0                1             0          1            0
1        1                1             0          0            0

In [38]:
df = pd.DataFrame(X)
df

      bruises  gill-attachment  gill-spacing  gill-size  stalk-shape
0           1                1             0          0            1
1           0                1             0          0            0
2           0                1             0          0            0
3           0                1             1          0            1
4           1                1             0          0            1
...       ...              ...           ...        ...          ...
8119        0                1             0          1            1
8120        0                0             0          0            0
8121        0                1             1          0            0
8122        1                1             0          0            1
8123        0                1             1          0            1

[8124 rows x 5 columns]

In [44]:
df["class"] = y

In [45]:
df

      bruises  gill-attachment  gill-spacing  gill-size  stalk-shape  class
0           1                1             0          0            1      0
1           0                1             0          0            0      1
2           0                1             0          0            0      1
3           0                1             1          0            1      0
4           1                1             0          0            1      0
...       ...              ...           ...        ...          ...    ...
8119        0                1             0          1            1      1
8120        0                0             0          0            0      0
8121        0                1             1          0            0      0
8122        1                1             0          0            1      0
8123        0                1             1          0            1      0

[8124 rows x 6 columns]

In [46]:
df.to_excel("mushroom1-0.xlsx")

In [28]:
import pickle 

#save an existing model to a file

pickle.dump(clf, open("pickle_clf_mush", "wb"))